@import 'bulma/sass/utilities/initial-variables.sass';

$navbar-breakpoint: $tablet;

.menu .icon {
    margin-inline-end: 8px;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: #209CEE;

$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$danger: $pink;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-shadow: none;

@import 'bulma/bulma.sass';

.navbar {
    background: #EFF0EB;
    color: white;
    font-size: 30px;
}

.username {
    color: $blue;
}

img {
    width: 100px;
}

.icon2 {
    width: 100%;
    text-align: center;
}
